venv
.env
__pycache__/
*.pyc
instance/
*.sqlite3
.DS_Store
*.log
*.bak
*.swp
*.tmp
*.env
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
pytest_cache/
.coverage
AGENTS.md